#contenedor_general {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 1330px;
}

#contenedor_header {
  border-top: 4px solid #e3e829;
  margin-top: -8px;
  border-bottom: 2px solid #e2e7ed;
}

#body {
  display: flex;
}

h1 {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  font-size: 32px;
  color: #00acc7;
  margin-top: -29px;
  margin-bottom: 11px;
}

h4 {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 23px;
  width: 200px;
  letter-spacing: -0.24px;
  color: #0033a0;
  margin-bottom: 13px;
  opacity: 1;
  margin-left: 35px;
}

p {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #224b77;
  /* margin-top: 22px; */
  line-height: 22px;
  width: 305px;
  margin-left: 34px;
}

#droptitle {
  color: #737373;
  margin-left: 0px;
}

#subtitulo {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: lighter;
  color: #224b77;
  /* margin-top: 22px; */
  line-height: 22px;
  max-width: 492px;
  text-align: center;
}

#imagen {
  margin-left: -23px;
}

#lista {
  list-style: square inside url("imagenes/bullet.png");
  color: #737373;
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  line-height: 30px;
  margin-top: 19px;
  margin-left: -41px;
}

#logo_top {
  margin-left: 135px;
  margin-right: 135px;
  align-content: center;
  margin-bottom: 9px;
  margin-top: 15px;
}

#contenido_1 {
  /* border: 1px solid red; */
  display: inline-table;
  width: 39%;
  height: 600px;
  margin-left: 139px;
}

#contenido_2 {
  /* border: 1px solid red; */
  /* position: absolute; */
  /* display: inline-table; */
  padding-top: 18px;
  width: 37%;
  padding-left: 50px;
  height: 578px;
  align-content: center;
  margin-left: 28%;
}

#drop1 {
  height: 39px;
  width: 415px;
}

#drop2 {
  height: 39px;
  width: 415px;
}

#drop3 {
  height: 39px;
  width: 415px;
}

#drop4 {
  height: 39px;
  width: 415px;
}
#field2 {
  margin-left: 35px;
  margin-top: 60px;
}

#contenedor_botones {
  width: 441px;
  margin-left: 0px;
  margin-top: 26px;
  /* border: 1px solid red; */
}

#campo1 {
  margin-left: 0px;
  height: 132px;
  width: 425px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  margin-top: 10px;
  background-color: #ffffff;
  border: 1ps solid red;
}

.button {
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: 208px;
  height: 48px;
  border-radius: 4px;
  background-color: #e3e829;
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: #0b28a5;
  margin-right: 10px;
}

.button2 {
  border: 1px solid #0b28a5;
  cursor: pointer;
  width: 208px;
  height: 48px;
  border-radius: 4px;
  background-color: #fff;
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: #0b28a5;
  margin-right: 10px;
}

#linea {
  border: 1px solid #e8e8e8;
  width: 0px;
  height: 577px;
  margin-top: 50px;
  padding: 0px;
  align-content: center;
}

#footer {
  background-color: #fafbfc;
  height: 130px;
  border-bottom: 4px solid #e3e829;
  padding-top: 25px;
  padding-left: 0px;
}

#ciudades_footer {
  /* border: 1px solid red; */

  margin-left: 60px;
}

#columns2 {
  width: 397px;
  display: inline-flex;
}
.column2 {
  width: 114px;
  /* border: 1px solid red; */
  margin-left: 34px;
  margin-top: -92px;
  /* padding-top: 55px; */
}

#icon_tel {
  color: #0b28a5;
}

/* media-queries */

@media (min-width: 993px) {
  #footer {
    display: none;
  }
}

/* Telefonos pequeños a tablet de 320 a 575 pixeles*/

@media (max-width: 575px) {
  #contenedor_header {
    border-top: 4px solid #ffffff;
    border-bottom: 2px solid #e2e7ed;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }

  #logo_top {
    align-content: left;
    margin-top: 23px;
    margin-left: 0px;
  }

  h4 {
    font-size: 32px;
    margin-bottom: 11px;
    width: 290px;
    margin-left: 0px;
  }

  h1 {
    width: 367px;
    font-size: 45px;
    line-height: 50px;
  }

  p {
    width: 360px;
    font-size: 18px;
    line-height: 28px;
    margin-left: 29px;
  }

  #lista {
    display: none;
  }

  #subtitulo {
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #224b77;
    /* margin-top: 22px; */
    line-height: 22px;
    max-width: 492px;
    text-align: center;
    margin-left: -31px;
  }

  #droptitle {
    color: #a0a0a0;
    margin-left: 22px;
  }

  #linea {
    display: none;
  }

  #contenedor_general {
    width: 400px;
  }

  #contenido_1 {
    margin-left: 10px;
    height: 350px;
  }

  #contenido_2 {
    width: 400px;
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 10px;
    position: relative;
    top: 0px;
  }

  #field2 {
    margin-left: -20px;
    margin-top: 60px;
  }

  #campo1 {
    margin-left: 20px;
    height: 132px;
    width: 355px;
    border-radius: 4px;
    border: 1px solid #dddfe2;
    margin-top: -15px;
    background-color: #ffffff;
  }

  #contenedor_botones {
    width: 356px;
    margin-left: 23px;
    margin-top: 26px;
    /* border: 1px solid red; */
  }

  .button {
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 354px;
    height: 48px;
    border-radius: 4px;
    background-color: #e3e829;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: #0b28a5;
    margin-right: 10px;
  }

  .button2 {
    border: 1px solid #0b28a5;
    cursor: pointer;
    width: 354px;
    height: 48px;
    border-radius: 4px;
    background-color: #fff;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: #0b28a5;
    margin-right: 10px;
    margin-top: 10px;
  }

  #imagen {
    position: relative;
    top: 555px;
    width: 412px;
    margin-bottom: 33px;
  }

  article {
    width: 400px;
  }

  #drop1 {
    margin-top: -12px;
    height: 39px;
    width: 365px;
    border-color: #737373;
  }

  #drop2 {
    margin-top: -12px;
    height: 39px;
    width: 365px;
    border-color: #737373;
  }

  #drop3 {
    margin-top: -12px;
    height: 39px;
    width: 365px;
    border-color: #737373;
  }

  #drop4 {
    margin-top: -12px;
    height: 39px;
    width: 365px;
    border-color: #737373;
  }

  #body {
    display: inline-table;
  }

  #boton {
    width: 365px;
  }

  #footer {
    width: 395px;
    height: 147px;
    background-color: #fafbfc;
    border-bottom: 4px solid #e3e829;
    padding-top: 25px;
    padding-left: 0px;
    margin-top: 0px;
  }
  #ciudades_footer {
    /* border: 1px solid red; */
    display: inline-table;
    margin-left: -151px;
    margin-top: 15px;
  }

  #columns2 {
    width: 364px;
    margin-left: 16px;
    /* border: 1px solid red; */
    margin-top: 25px;
  }

  .column2 {
    width: 120px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 1px;
    margin-top: 4px;
  }

  .column3 {
    width: 170px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 126px;
    margin-top: -36px;
  }

  .column4 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 1px;
    margin-top: -14px;
  }

  .column5 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 166px;
    margin-top: -40px;
  }

  #bogota {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 1px;
    margin-top: 5px;
    width: 48px;
    margin-left: 0px;
  }

  #tel_bogota {
    /* border: 1px solid red; */
    margin-left: 56px;
    width: 61px;
    font-size: 12px;
    margin-top: -41px;
    color: #0b28a5;
    /* display: inline-flex; */
    margin-left: 60px;
  }

  #med_cal {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    margin-top: 1px;
    width: 108px;
    margin-left: 1px;
    /* border: 1px solid red; */
  }

  #tel_med_cal {
    margin-left: 108px;
    width: 61px;
    font-size: 12px;
    margin-top: -41px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #barrannquilla {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 4px;
    margin-top: -1px;
    width: 91px;
    margin-left: 0px;
  }

  #tel_barranquilla {
    margin-left: 93px;
    width: 61px;
    font-size: 12px;
    margin-top: -41px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #cartagena {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 6px;
    margin-top: 2px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_cartagena {
    margin-left: 78px;
    width: 61px;
    font-size: 12px;
    margin-top: -41px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #resto_del_pais {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 44px;
    margin-top: -47px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_resto_del_pais {
    margin-left: 102px;
    width: 99px;
    font-size: 12px;
    margin-top: -41px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #ciudades {
    /* border: 1px solid red; */
    font-size: 14px;
    display: block;
  }

  #tel_ciudades {
    margin-left: 112px;
    width: 94px;
    font-size: 12px;
    margin-top: -42px;
    color: gray;
    /* display: inline-flex; */
  }

  #titulo_footer {
    height: 20px;
    width: 150px;
    font-weight: bold;
    margin-top: -19px;
    margin-left: 0px;
    font-size: 16px;
    color: #0b28a5;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
}
/* Telefonos pequeños a tablet de 575 a 768 pixeles*/

@media (min-width: 576px) and (max-width: 769px) {
  #contenedor_header {
    border-top: 4px solid #ffffff;
    border-bottom: 2px solid #e2e7ed;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }

  #logo_top {
    align-content: left;
    margin-top: 23px;
    margin-left: 0px;
  }

  h4 {
    font-size: 32px;
    margin-bottom: 31px;
    width: 270px;
  }

  h1 {
    width: 367px;
    font-size: 45px;
    line-height: 50px;
  }

  p {
    width: 600px;
    font-size: 18px;
    line-height: 28px;
  }

  #lista {
    display: none;
  }

  #linea {
    display: none;
  }

  #contenedor_general {
    width: 701px;
  }

  #contenido_1 {
    margin-left: 86px;
    height: 350px;
  }

  #contenido_2 {
    width: 400px;
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 88px;
    position: relative;
    top: 0px;
  }

  #subtitulo {
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #224b77;
    /* margin-top: 22px; */
    line-height: 22px;
    max-width: 492px;
    text-align: left;
  }

  #imagen {
    position: relative;
    top: 575px;
    width: 412px;
    margin-bottom: 33px;
    margin-left: 32px;
  }

  article {
    width: 400px;
  }

  #drop1 {
    margin-top: -12px;
    height: 39px;
    width: 484px;
    border-color: #737373;
  }

  #drop2 {
    margin-top: -12px;
    height: 39px;
    width: 484px;
    border-color: #737373;
  }

  #drop3 {
    margin-top: -12px;
    height: 39px;
    width: 484px;
    border-color: #737373;
  }

  #drop4 {
    margin-top: -12px;
    height: 39px;
    width: 484px;
    border-color: #737373;
  }

  #body {
    display: inline-table;
  }

  #boton {
    width: 484px;
  }

  #footer {
    width: 700px;
    height: 121px;
    background-color: #fafbfc;
    border-bottom: 4px solid #e3e829;
    padding-top: 25px;
    padding-left: 0px;
    margin-top: 0px;
  }
  #ciudades_footer {
    /* border: 1px solid red; */
    display: inline-table;
    margin-left: -151px;
    margin-top: 15px;
  }

  #columns2 {
    width: 364px;
    margin-left: 16px;
    /* border: 1px solid red; */
    margin-top: 25px;
  }

  .column2 {
    width: 120px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 1px;
    margin-top: 4px;
  }

  .column3 {
    width: 170px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 141px;
    margin-top: -36px;
  }

  .column4 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 343px;
    margin-top: -40px;
  }

  .column5 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 516px;
    margin-top: -40px;
  }

  #bogota {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 1px;
    margin-top: 5px;
    width: 48px;
    margin-left: 0px;
  }

  #tel_bogota {
    /* border: 1px solid red; */
    margin-left: 56px;
    width: 61px;
    font-size: 12px;
    margin-top: -41px;
    color: #0b28a5;
    /* display: inline-flex; */
  }

  #med_cal {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    margin-top: 1px;
    width: 108px;
    margin-left: 1px;
    /* border: 1px solid red; */
  }

  #tel_med_cal {
    margin-left: 108px;
    width: 61px;
    font-size: 12px;
    margin-top: -41px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #barrannquilla {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 4px;
    margin-top: -1px;
    width: 91px;
    margin-left: 0px;
  }

  #tel_barranquilla {
    margin-left: 93px;
    width: 61px;
    font-size: 12px;
    margin-top: -41px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #cartagena {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 6px;
    margin-top: 2px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_cartagena {
    margin-left: 78px;
    width: 61px;
    font-size: 12px;
    margin-top: -41px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #resto_del_pais {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 44px;
    margin-top: -47px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_resto_del_pais {
    margin-left: 102px;
    width: 99px;
    font-size: 12px;
    margin-top: -41px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #ciudades {
    /* border: 1px solid red; */
    font-size: 14px;
    display: block;
  }

  #tel_ciudades {
    margin-left: 112px;
    width: 94px;
    font-size: 12px;
    margin-top: -42px;
    color: gray;
    /* display: inline-flex; */
  }

  #titulo_footer {
    height: 20px;
    width: 150px;
    font-weight: bold;
    margin-top: -19px;
    margin-left: 0px;
    font-size: 16px;
    color: #0b28a5;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  /* Telefonos pequeños a tablet de 575 a 768 pixeles*/
}
@media (min-width: 770px) and (max-width: 992px) {
  #contenedor_header {
    border-top: 4px solid #ffffff;
    border-bottom: 2px solid #e2e7ed;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }

  #body {
    margin-left: 62px;
  }

  #logo_top {
    align-content: left;
    margin-top: 23px;
    margin-left: 0px;
  }

  h4 {
    font-size: 32px;
    margin-bottom: 31px;
    width: 400px;
  }

  h1 {
    width: 367px;
    font-size: 45px;
    line-height: 50px;
  }

  p {
    width: 600px;
    font-size: 18px;
    line-height: 28px;
  }

  #subtitulo {
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #224b77;
    /* margin-top: 22px; */
    line-height: 22px;
    max-width: 492px;
    text-align: left;
    margin-left: 36px;
  }

  #lista {
    display: none;
  }

  #linea {
    display: none;
  }

  #contenedor_general {
    width: 800px;
  }

  #contenido_1 {
    margin-left: 86px;
    height: 350px;
    width: 619px;
  }

  #contenido_2 {
    width: 400px;
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 88px;
    position: relative;
    top: 0px;
  }

  #imagen {
    position: relative;
    top: 575px;
    width: 412px;
    margin-bottom: 33px;
    margin-left: 32px;
  }

  article {
    width: 400px;
  }

  #drop1 {
    margin-top: -12px;
    height: 39px;
    width: 484px;
    border-color: #737373;
  }

  #drop2 {
    margin-top: -12px;
    height: 39px;
    width: 484px;
    border-color: #737373;
  }

  #drop3 {
    margin-top: -12px;
    height: 39px;
    width: 484px;
    border-color: #737373;
  }

  #drop4 {
    margin-top: -12px;
    height: 39px;
    width: 484px;
    border-color: #737373;
  }

  #body {
    display: inline-table;
  }

  #boton {
    width: 484px;
  }

  #footer {
    width: 800px;
    height: 121px;
    background-color: #fafbfc;
    border-bottom: 4px solid #e3e829;
    padding-top: 25px;
    padding-left: 0px;
    margin-top: 0px;
  }
  #ciudades_footer {
    /* border: 1px solid red; */
    display: inline-table;
    margin-left: -151px;
    margin-top: 15px;
  }

  #columns2 {
    width: 364px;
    margin-left: 16px;
    /* border: 1px solid red; */
    margin-top: 25px;
  }

  .column2 {
    width: 120px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 1px;
    margin-top: 4px;
  }

  .column3 {
    width: 170px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 168px;
    margin-top: -36px;
  }

  .column4 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 399px;
    margin-top: -40px;
  }

  .column5 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 609px;
    margin-top: -40px;
  }

  #bogota {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 1px;
    margin-top: 5px;
    width: 48px;
    margin-left: 0px;
  }

  #tel_bogota {
    /* border: 1px solid red; */
    margin-left: 56px;
    width: 61px;
    font-size: 12px;
    margin-top: -41px;
    color: #0b28a5;
    /* display: inline-flex; */
  }

  #med_cal {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    margin-top: 1px;
    width: 108px;
    margin-left: 1px;
    /* border: 1px solid red; */
  }

  #tel_med_cal {
    margin-left: 108px;
    width: 61px;
    font-size: 12px;
    margin-top: -41px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #barrannquilla {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 4px;
    margin-top: -1px;
    width: 91px;
    margin-left: 0px;
  }

  #tel_barranquilla {
    margin-left: 93px;
    width: 61px;
    font-size: 12px;
    margin-top: -41px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #cartagena {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 6px;
    margin-top: 2px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_cartagena {
    margin-left: 78px;
    width: 61px;
    font-size: 12px;
    margin-top: -41px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #resto_del_pais {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 44px;
    margin-top: -47px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_resto_del_pais {
    margin-left: 102px;
    width: 99px;
    font-size: 12px;
    margin-top: -41px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #ciudades {
    /* border: 1px solid red; */
    font-size: 14px;
    display: block;
  }

  #tel_ciudades {
    margin-left: 112px;
    width: 94px;
    font-size: 12px;
    margin-top: -42px;
    color: gray;
    /* display: inline-flex; */
  }

  #titulo_footer {
    height: 20px;
    width: 150px;
    font-weight: bold;
    margin-top: -19px;
    margin-left: 0px;
    font-size: 16px;
    color: #0b28a5;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
}
