#contenedor_general {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1330px;
}

#contenedor_header {
  border-top: 4px solid #e3e829;
  margin-top: 0px;
  border-bottom: 2px solid #e2e7ed;
}

h1 {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 32px;
  color: #00acc7;
  margin-top: -29px;
  padding-left: 35%;
  padding-top: 19px;
  margin-bottom: 11px;
}

h4 {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 22px;
  text-align: center;
  letter-spacing: -0.24px;
  color: #0033a0;
  margin-top: 20px;
  opacity: 1;
}

h3 {
  font-family: "FS Joey", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  color: #0b28a5;
  font-size: 24px;
  padding-bottom: 19px;
}

p {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  color: #000000;
  /* margin-top: 22px; */
  line-height: 22px;
  /* max-width: 492px; */
}

#parrafo {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  color: #000000;
  text-align: center;
  width: 560px;
  /* margin-top: 22px; */
  line-height: 22px;
  /* border: 1px solid red; */
  /* max-width: 492px; */
  margin: auto;
  margin-top: 26px;
}

#contenedor_botones {
  width: 431px;
  margin-left: 465px;
  margin-top: 29px;
  /* border: 1px solid red; */
}

.button {
  border: 1px solid #0b28a5;
  /* margin-top: 50px; */
  width: 192px;
  height: 48px;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: #0b28a5;
  margin-right: 10px;
}

.button:hover {
  border: 1px solid #0b28a5;
  color: #0b28a5;
}

.button2 {
  cursor: pointer;
  border: none;
  /* margin-top: 50px; */
  width: 192px;
  height: 48px;
  border-radius: 4px;
  background-color: #e3e829;
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: #0b28a5;
  margin-right: 10px;
}

.button2:hover {
  border: 1px solid #e3e829;
  background-color: #e3e829;
}

#logo_top {
  margin-left: 135px;
  margin-right: 135px;
  align-content: center;
  margin-bottom: 9px;
  margin-top: 15px;
}

#bottom_line {
  /* border: 1px solid red; */
  width: 1330px;
  margin: auto;
  margin-top: 227px;
  border-bottom: 1px solid #f1f1f1;
}

#ciudades {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  font-weight: lighter;
  color: #67647c;
}

#tel_ciudades {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #000000de;
}

#titulo_footer {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #0b28a5;
  margin-left: 25px;
  margin-top: -23px;
}

#footer {
  background-color: #fafbfc;
  height: 106px;
  border-bottom: 4px solid #e3e829;
  padding-top: 25px;
  padding-left: 0px;
}

#ciudades_footer {
  /* border: 1px solid red; */
  display: inline-flex;
  margin-left: 60px;
}

/* a partir de acá se empieza el css de las columnas con bulma */

.column {
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 4px;
  margin-right: 10px;
  /* border: 1px solid red; */
  width: 183px;
  height: 88px;
  padding-top: 22px;
  margin-top: 10px;
}

#columns2 {
  display: inline-flex;
  margin-left: 112px;
  margin-top: -17px;
}
.column2 {
  width: 114px;
  margin-left: 0px;
  /* border: 1px solid red; */
}

.infotop {
  text-align: center;
  /* border: 1px solid red; */
  width: 1064px;
  margin-left: 100px;
  margin-top: 39px;
  padding-left: 20%;
}

#icon_tel {
  color: #0b28a5;
}

.icon {
  color: #568312;
  margin-left: 433px;
  margin-top: 73px;
}

/* Tablet hasta desktop+*/

@media (min-width: 955px) {
  #footer_movil {
    display: none;
  }
}

@media (max-width: 575px) {
  #contenedor_general {
    width: 399px;
    margin-left: 83px;
    height: 818px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    background: white;
  }

  body {
    width: 550px;
  }

  #contenedor_header {
    border-top: 4px solid #ffffff;
    border-bottom: 2px solid #e2e7ed;
    padding-bottom: 5px;
    background-color: white;
    width: 397px;
    position: sticky;
    top: 0;
    background: white;
  }

  #logo_top {
    align-content: left;
    margin-top: 23px;
    margin-left: 0px;
  }

  .icon {
    color: #568312;
    margin-left: 122px;
    margin-top: 73px;
  }

  h4 {
    width: 328px;
    margin-left: 31px;
    font-size: 28px;
    line-height: 28px;
  }

  h3 {
    margin-left: 10px;
  }

  #parrafo {
    line-height: 24px;
    width: 335px;
    margin-left: 26px;
    margin-top: 23px;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 18px;
  }

  #contenedor_botones {
    height: 150px;
    width: 380px;
    margin-left: 28px;
    margin-top: 60px;
  }

  .button {
    border: 1px solid #0b28a5;
    margin-top: 10px;
    width: 337px;
    height: 48px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: #0b28a5;
    margin-right: 10px;
  }

  .button2 {
    cursor: pointer;
    border: none;
    margin-top: 25px;
    width: 337px;
    height: 48px;
    border-radius: 4px;
    background-color: #e3e829;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: #0b28a5;
    margin-right: 10px;
  }

  #bottom_line {
    display: none;
    margin-top: 61px;
    order: 6;
  }

  #footer {
    display: none;
  }

  #footer_movil {
    width: 363px;
    height: 167px;
    background-color: #fafbfc;
    border-bottom: 4px solid #e3e829;
    padding-top: 25px;
    padding-left: 0px;
    margin-top: 41px;
    order: 7;
  }

  #icon_tel {
    display: none;
  }

  #titulo_footer {
    height: 20px;
    width: 150px;
    margin-top: -19px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 900;
    color: #0b28a5;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  #ciudades_footer {
    /* border: 1px solid red; */
    display: inline-table;
    margin-left: -151px;
    margin-top: 15px;
  }

  #columns2 {
    width: 364px;
    margin-left: 16px;
    /* border: 1px solid red; */
    margin-top: 11px;
  }

  .column2 {
    width: 120px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 1px;
    margin-top: 4px;
  }

  #bogota {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 1px;
    margin-top: 5px;
    width: 48px;
  }

  #tel_bogota {
    /* border: 1px solid red; */
    margin-left: 56px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
  }

  .column3 {
    width: 170px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 126px;
    margin-top: -36px;
  }

  #med_cal {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    margin-top: 1px;
    width: 108px;
    margin-left: 1px;
    /* border: 1px solid red; */
  }

  #tel_med_cal {
    margin-left: 108px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  .column4 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 1px;
    margin-top: -14px;
  }
  #barranquilla {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 4px;
    margin-top: -1px;
    width: 91px;
    margin-left: 0px;
  }

  #tel_barranquilla {
    margin-left: 90px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  .column5 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 166px;
    margin-top: -40px;
  }

  #cartagena {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 6px;
    margin-top: 2px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_cartagena {
    margin-left: 78px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #resto_del_pais {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 44px;
    margin-top: -47px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_resto_del_pais {
    margin-left: 102px;
    width: 99px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }
}

@media (min-width: 576px) and (max-width: 769px) {
  #contenedor_general {
    width: 760px;
    margin-left: 11px;
    /* height: 1542px; */
    display: flex;
    flex-direction: column;
  }

  #contenedor_header {
    border-top: 4px solid #ffffff;
    border-bottom: 2px solid #e2e7ed;
    padding-bottom: 5px;
    background-color: white;
    width: 547px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    margin-left: 102px;
  }

  #logo_top {
    align-content: left;
    margin-top: 23px;
    margin-left: 0px;
  }

  #left_side {
    width: 380px;
    margin-left: 0px;
    order: 2;
  }

  h4 {
    font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 18px;
    text-align: left;
    letter-spacing: -0.24px;
    color: #505050;
    margin-top: 18px;
    opacity: 1;
    width: 360px;
    padding-left: 0%;
    margin-left: 235px;
  }

  h3 {
    /* border: 1px solid red; */
    font-family: "FS Joey", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-decoration-line: underline;
    color: #0b28a5;
    font-size: 24px;
    padding-bottom: 0px;
    width: 132px;
    margin-left: 105px;
    margin-top: 15px;
  }

  #linea {
    display: none;
  }

  #field1 {
    /* border: 1px solid red; */
    margin-top: 29px;
    width: 382px;
    margin-left: 110px;
  }
  .icon {
    color: #568312;
    margin-left: 242px;
    margin-top: 73px;
  }

  #campo1 {
    margin-left: 0px;
    height: 50px;
    width: 522px;
    border-radius: 4px;
    border: 1px solid #dddfe2;
    margin-top: 10px;
    background-color: #ffffff;
  }

  #nota {
    color: #737373;
    width: 522px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 111px;
    line-height: normal;
    order: 4;
  }

  #nota2 {
    width: 378px;
    order: 5;
    margin-left: 111px;
  }

  #right_side {
    /* border: 1px solid red; */
    margin-left: 106px;
    margin-top: 0px;
    order: 1;
    width: 534px;
    height: 348px;
  }

  #contenedor_botones {
    width: 522px;
    margin-left: 114px;
    /* border: 1px solid red; */
    height: 150px;
    margin-top: 46px;
    order: 5;
  }

  .button {
    /* border: 1px solid #0b28a5; */
    /* margin-top: 50px; */
    width: 497px;
    height: 48px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: #0b28a5;
    margin-right: 10px;
    margin-top: 65px;
    margin-left: 9px;
  }

  .button2 {
    border: none;
    cursor: pointer;
    /* margin-top: 50px; */
    width: 498px;
    height: 48px;
    border-radius: 4px;
    background-color: #e3e829;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: #0b28a5;
    margin-right: 10px;
    margin-left: -512px;
  }

  #titulo1_derecha {
    font-weight: lighter;
    font-family: "Cabin", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
      Arial, sans-serif;
    align-content: center;
    font-size: 13px;
    color: #627762;
    border: 1px solid #e2e7ed;
    padding: 15px;
  }

  #respuestas_derecha {
    font-family: "Cabin", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
      Arial, sans-serif;
    align-content: center;
    font-size: 13px;
    color: #292730;
    border: 1px solid #e2e7ed;
    padding: 15px;
  }

  #Tabla_derecha {
    display: inline-table;
    border: 1px solid #4076b8;
    width: 532px;
    margin-top: 0px;
  }

  #bottom_line {
    display: none;
    margin-top: 61px;
    order: 6;
  }

  #footer {
    display: none;
  }

  #footer_movil {
    width: 547px;
    height: 143px;
    background-color: #fafbfc;
    border-bottom: 4px solid #e3e829;
    padding-top: 25px;
    padding-left: 0px;
    margin-top: 41px;
    order: 7;
    margin-left: 102px;
  }

  #icon_tel {
    display: none;
  }

  #titulo_footer {
    height: 20px;
    width: 150px;
    margin-top: -19px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 900;
    color: #0b28a5;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  #ciudades_footer {
    /* border: 1px solid red; */
    display: inline-table;
    margin-left: -151px;
    margin-top: 15px;
  }

  #columns2 {
    width: 364px;
    margin-left: 16px;
    /* border: 1px solid red; */
    margin-top: 11px;
  }

  .column2 {
    width: 120px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 1px;
    margin-top: 4px;
  }

  #bogota {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 1px;
    margin-top: 5px;
    width: 48px;
  }

  #tel_bogota {
    /* border: 1px solid red; */
    margin-left: 56px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
  }
  .column3 {
    width: 170px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 148px;
    margin-top: -36px;
  }

  #med_cal {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    margin-top: 1px;
    width: 108px;
    margin-left: 1px;
    /* border: 1px solid red; */
  }

  #tel_med_cal {
    margin-left: 108px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  .column4 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 342px;
    margin-top: -40px;
  }
  #barranquilla {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 4px;
    margin-top: -14px;
    width: 91px;
    margin-left: 0px;
  }

  #tel_barranquilla {
    margin-left: 90px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }
  .column5 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 2px;
    margin-top: -12px;
  }
  #cartagena {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 6px;
    margin-top: 2px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_cartagena {
    margin-left: 78px;
    width: 61px;
    font-size: 12px;
    margin-top: -20px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  .column6 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 155px;
    margin-top: -75px;
  }

  #resto_del_pais {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 44px;
    margin-top: -47px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_resto_del_pais {
    margin-left: 102px;
    width: 99px;
    font-size: 12px;
    margin-top: -20px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }
}

@media (min-width: 770px) and (max-width: 992px) {
  #contenedor_general {
    width: 900px;
    margin-left: 11px;
    /* height: 1542px; */
    display: flex;
    flex-direction: column;
  }

  #contenedor_header {
    border-top: 4px solid #ffffff;
    border-bottom: 2px solid #e2e7ed;
    padding-bottom: 5px;
    background-color: white;
    width: 770px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    margin-left: 102px;
  }

  #logo_top {
    align-content: left;
    margin-top: 23px;
    margin-left: 0px;
  }

  #left_side {
    width: 380px;
    margin-left: 0px;
    order: 2;
  }

  h4 {
    font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 18px;
    text-align: left;
    letter-spacing: -0.24px;
    color: #505050;
    margin-top: 18px;
    opacity: 1;
    width: 360px;
    padding-left: 0%;
    margin-left: 353px;
  }

  h3 {
    /* border: 1px solid red; */
    font-family: "FS Joey", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-decoration-line: underline;
    color: #0b28a5;
    font-size: 24px;
    padding-bottom: 0px;
    width: 132px;
    margin-left: 105px;
    margin-top: 15px;
  }

  #parrafo {
    margin-left: 201px;
  }

  #linea {
    display: none;
  }

  #field1 {
    /* border: 1px solid red; */
    margin-top: 29px;
    width: 382px;
    margin-left: 110px;
  }
  .icon {
    color: #568312;
    margin-left: 320px;
    margin-top: 73px;
  }

  #campo1 {
    margin-left: 0px;
    height: 50px;
    width: 522px;
    border-radius: 4px;
    border: 1px solid #dddfe2;
    margin-top: 10px;
    background-color: #ffffff;
  }

  #nota {
    color: #737373;
    width: 522px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 111px;
    line-height: normal;
    order: 4;
  }

  #nota2 {
    width: 378px;
    order: 5;
    margin-left: 111px;
  }

  #right_side {
    /* border: 1px solid red; */
    margin-left: 106px;
    margin-top: 0px;
    order: 1;
    width: 534px;
    height: 348px;
  }

  #contenedor_botones {
    width: 522px;
    margin-left: 222px;
    /* border: 1px solid red; */
    height: 150px;
    margin-top: 46px;
    order: 5;
  }

  .button {
    /* border: 1px solid #0b28a5; */
    /* margin-top: 50px; */
    width: 497px;
    height: 48px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: #0b28a5;
    margin-right: 10px;
    margin-top: 65px;
    margin-left: 9px;
  }

  .button2 {
    border: none;
    cursor: pointer;
    /* margin-top: 50px; */
    width: 498px;
    height: 48px;
    border-radius: 4px;
    background-color: #e3e829;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: #0b28a5;
    margin-right: 10px;
    margin-left: -512px;
  }

  #titulo1_derecha {
    font-weight: lighter;
    font-family: "Cabin", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
      Arial, sans-serif;
    align-content: center;
    font-size: 13px;
    color: #627762;
    border: 1px solid #e2e7ed;
    padding: 15px;
  }

  #respuestas_derecha {
    font-family: "Cabin", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
      Arial, sans-serif;
    align-content: center;
    font-size: 13px;
    color: #292730;
    border: 1px solid #e2e7ed;
    padding: 15px;
  }

  #Tabla_derecha {
    display: inline-table;
    border: 1px solid #4076b8;
    width: 532px;
    margin-top: 0px;
  }

  #bottom_line {
    display: none;
    margin-top: 61px;
    order: 6;
  }

  #footer {
    display: none;
  }

  #footer_movil {
    width: 770px;
    height: 143px;
    background-color: #fafbfc;
    border-bottom: 4px solid #e3e829;
    padding-top: 25px;
    padding-left: 0px;
    margin-top: 41px;
    order: 7;
    margin-left: 102px;
  }

  #icon_tel {
    display: none;
  }

  #titulo_footer {
    height: 20px;
    width: 150px;
    margin-top: -19px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 900;
    color: #0b28a5;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  #ciudades_footer {
    /* border: 1px solid red; */
    display: inline-table;
    margin-left: -151px;
    margin-top: 15px;
  }

  #columns2 {
    width: 364px;
    margin-left: 16px;
    /* border: 1px solid red; */
    margin-top: 11px;
  }

  .column2 {
    width: 120px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 1px;
    margin-top: 4px;
  }

  #bogota {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 1px;
    margin-top: 5px;
    width: 48px;
  }

  #tel_bogota {
    /* border: 1px solid red; */
    margin-left: 56px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
  }
  .column3 {
    width: 170px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 168px;
    margin-top: -36px;
  }

  #med_cal {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    margin-top: 1px;
    width: 108px;
    margin-left: 1px;
    /* border: 1px solid red; */
  }

  #tel_med_cal {
    margin-left: 108px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  .column4 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 375px;
    margin-top: -40px;
  }
  #barranquilla {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 4px;
    margin-top: -14px;
    width: 91px;
    margin-left: 0px;
  }

  #tel_barranquilla {
    margin-left: 90px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }
  .column5 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 597px;
    margin-top: -40px;
  }
  #cartagena {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 6px;
    margin-top: 2px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_cartagena {
    margin-left: 78px;
    width: 61px;
    font-size: 12px;
    margin-top: -20px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  .column6 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 2px;
    margin-top: -45px;
  }

  #resto_del_pais {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 44px;
    margin-top: -47px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_resto_del_pais {
    margin-left: 102px;
    width: 99px;
    font-size: 12px;
    margin-top: -20px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }
}
