#contenedor_general {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1330px;
}

#contenedor_header {
  border-top: 4px solid #e3e829;
  margin-top: 0px;
  border-bottom: 2px solid #e2e7ed;
}

#body {
  display: flex;
}

h1 {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  color: #0033a0;
  margin-left: 28px;
}

h4 {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 23px;
  text-align: left;
  letter-spacing: -0.24px;
  color: #0033a0;
  margin-top: 30px;
  opacity: 1;
  width: 450px;
  margin-left: 434px;
  text-align: center;
}

h3 {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 23px;
  text-align: left;
  letter-spacing: -0.24px;
  color: #0033a0;
  margin-top: 10px;
  opacity: 1;
  width: 450px;
  margin-left: 416px;
  text-align: center;
}

p {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  color: #224b77;
  margin-top: 6px;
  line-height: 22px;
  max-width: 492px;
  text-align: left;
}

#logo_top {
  margin-left: 135px;
  margin-right: 135px;
  align-content: center;
  margin-bottom: 9px;
  margin-top: 15px;
}

.infotop {
  text-align: center;
  /* border: 1px solid red; */
  width: 1064px;
  margin-left: 100px;
  margin-top: 39px;
  padding-left: 20%;
}

#items_top {
  margin-right: 20px;
}

lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 600px;
  margin-top: 94px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(222, 222, 222) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#lines {
  padding-left: 10px;
  padding-right: 10px;
}

#titulos_top {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}

#respuesta_top {
  font-family: "Cabin regular", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: black;
  text-align: center;
  padding-top: 1px;
}

#icon_calendar {
  margin-top: 12px;
  margin-left: 12px;
}

#contenedor_botones {
  width: 431px;
  margin-left: 462px;
  margin-top: 75px;
  /* border: 1px solid red; */
}

#contenedor_botones2 {
  width: 431px;
  margin-left: 433px;
  margin-top: 12px;
  /* border: 1px solid red; */
}

.button {
  border: 1px solid #0b28a5;
  /* margin-top: 50px; */
  width: 377px;
  height: 48px;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: #0b28a5;
  margin-right: 10px;
}

.button2 {
  cursor: pointer;
  border: none;
  /* margin-top: 50px; */
  width: 435px;
  height: 48px;
  border-radius: 4px;
  background-color: #e3e829;
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: #0b28a5;
  margin-right: 0px;
  display: flex;
}

.button3 {
  cursor: pointer;
  border: none;
  /* margin-top: 50px; */
  width: 435px;
  height: 48px;
  border-radius: 4px;
  background-color: #e3e829;
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: #0b28a5;
  margin-right: 0px;
  margin-left: -45px;
}

.button2:hover {
  background-color: #0b28a5;
  color: white;
}

.button3:hover {
  background-color: #0b28a5;
  color: white;
}

.button2:hover > h1 {
  color: white;
}

.button3:hover > h1 {
  color: white;
}

.btn_txt {
  border: 1px solid rgb(170, 169, 169);
}

#respuesta_resultados {
  font-family: "Cabin regular", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: black;
  margin-left: 55px;
  margin-top: -22px;
}

#contenedor_botones {
  width: 431px;
  margin-left: 457px;
  margin-top: 25px;
  /* border: 1px solid red; */
}

#bottom_line {
  /* border: 1px solid red; */
  width: 1330px;
  margin: auto;
  margin-top: 100px;
  border-bottom: 1px solid #f1f1f1;
}

#parrafo_fecha {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: 800;
  color: #0b28a5;
  margin-left: 30px;
  margin-top: -25px;
}

#ciudades {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  font-weight: lighter;
  color: #67647c;
}

#tel_ciudades {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #000000de;
}

#ciudades_footer {
  margin-top: -7px;
}

#titulo_footer {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #0b28a5;
  margin-left: 25px;
  margin-top: -23px;
}

#footer {
  background-color: #fafbfc;
  height: 106px;
  border-bottom: 4px solid #e3e829;
  padding-top: 25px;
  padding-left: 0px;
}

#ciudades_footer {
  /* border: 1px solid red; */
  display: inline-flex;
  margin-left: 60px;
}

/* a partir de acá se empieza el css de las columnas con bulma */

.column {
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 4px;
  margin-right: 10px;
  /* border: 1px solid red; */
  width: 183px;
  height: 98px;
  padding-top: 12px;
  margin-top: 10px;
}

#columns2 {
  display: inline-flex;
  margin-left: 112px;
  margin-top: -17px;
}
.column2 {
  width: 114px;
  margin-left: 0px;
  /* border: 1px solid red; */
}

#contenedor_fecha {
  /* border: 1px solid red; */
  display: inline-block;
  margin-left: 542px;
  text-decoration: underline;
  width: 204px;
  height: 26px;
  margin-top: 63px;
}

.icon {
  color: #0b28a5;
}

#icon_tel {
  color: #0b28a5;
}

#boton1 {
  background-color: transparent;
  padding-bottom: 22px;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 4px;
  overflow: hidden;
  width: 210px;
}

/* #boton1:before {
  content: "Reservar";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eff700;
  transition: all 0.3s;
} */

#boton1:hover:before {
  top: -30px;
}

#boton1:after {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 28px;
  content: "Reservar";
  color: #0b28a5;
  position: absolute;
  top: calc(100% + 50px);
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e3e829;
  transition: all 0.4s;
  width: 212px;
  height: 100px;
  padding-top: 25px;
  border-radius: 4px;
}

#boton1:hover:after {
  top: 50%;
}

#nta {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 15px;
  color: #1d1d1d;
  width: 180px;
  height: 25px;
  margin-left: 552px;
  padding-top: 5px;
}

.section {
  /* border: 1px solid red; */
  position: initial;
  width: 1200px;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 509px;
  margin-top: 94px;
}

/* media-queries */

/* Tablet hasta desktop+*/

@media (min-width: 1024px) {
  #footer_movil {
    display: none;
  }
}

/* Telefonos pequeños a tablet de 320 a 425 pixeles*/

@media (max-width: 575px) {
  #contenedor_general {
    width: 500px;
    margin-left: 31px;
  }

  #contenedor_header {
    border-top: 4px solid #ffffff;
    border-bottom: 2px solid #e2e7ed;
    padding-bottom: 5px;
    background-color: white;
    width: 495px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
  }

  #body {
    display: inline-table;
  }

  #logo_top {
    align-content: left;
    margin-top: 23px;
    margin-left: 0px;
  }

  .infotop {
    display: none;
  }

  h4 {
    font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.24px;
    color: #505050;
    margin-top: 30px;
    opacity: 1;
    width: 300px;
    padding-left: 0%;
    margin-left: 93px;
  }

  h3 {
    font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 23px;
    text-align: left;
    letter-spacing: -0.24px;
    color: #0033a0;
    margin-top: 10px;
    opacity: 1;
    width: 450px;
    margin-left: 0px;
    text-align: center;
  }

  #top_button {
    position: sticky;
    top: 75px;
    background: white;
    z-index: 1;
    border: 1px solid white;
  }

  .icon {
    color: #e84629;
    margin-left: 122px;
    margin-top: 47px;
  }

  #nota {
    margin-left: 150px;
    padding-left: 0;
    width: 271px;
    margin-left: 76px;
    margin-top: 9px;
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 188px;
    margin-top: 94px;
  }

  #contenedor_botones2 {
    width: 376px;
    margin-left: 52px;
    margin-top: 20px;
    /* border: 1px solid red; */
  }

  .button2 {
    cursor: pointer;
    border: none;
    /* margin-top: 50px; */
    width: 374px;
    height: 48px;
    border-radius: 4px;
    background-color: #0b28a5;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: white;
    display: flex;
  }

  h1 {
    font-size: 23px;
    margin-left: 28px;
    color: white;
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 179px;
    margin-top: 94px;
  }

  #icon_calendar {
    margin-top: 7px;
    margin-left: 12px;
  }

  .columns.is-multiline {
    flex-wrap: wrap;
    display: inline-table;
  }

  #nta {
    display: none;
  }

  #boton1 {
    background-color: transparent;
    padding-bottom: 22px;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 4px;
    overflow: hidden;
    width: 373px;
  }

  .section {
    margin-top: -10px;
    width: 399px;
    margin-left: 0px;
  }

  #boton1:after {
    display: none;
  }

  #contenido {
    width: 269px;
    margin-top: 7px;
    margin-left: 33px;
  }

  #contenedor_botones {
    margin-left: 53px;
    width: 194px;
  }

  #bottom_line {
    display: none;
  }

  #footer {
    display: none;
  }

  #footer_movil {
    width: 495px;
    height: 167px;
    background-color: #fafbfc;
    border-bottom: 4px solid #e3e829;
    padding-top: 25px;
    padding-left: 0px;
    margin-top: 41px;
  }

  #titulo_footer {
    height: 20px;
    width: 150px;
    margin-top: -19px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 900;
    color: #0b28a5;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  #ciudades_footer {
    /* border: 1px solid red; */
    display: inline-table;
    margin-left: -151px;
    margin-top: 15px;
  }

  #columns2 {
    width: 364px;
    margin-left: 16px;
    /* border: 1px solid red; */
    margin-top: 11px;
  }

  .column2 {
    width: 120px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 1px;
    margin-top: 4px;
  }

  .column3 {
    width: 170px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 126px;
    margin-top: -36px;
  }

  .column4 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 1px;
    margin-top: -14px;
  }

  .column5 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 166px;
    margin-top: -40px;
  }

  #bogota {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 1px;
    margin-top: 5px;
    width: 48px;
  }

  #tel_bogota {
    /* border: 1px solid red; */
    margin-left: 56px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
  }

  #med_cal {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    margin-top: 1px;
    width: 108px;
    margin-left: 1px;
    /* border: 1px solid red; */
  }

  #tel_med_cal {
    margin-left: 108px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #barranquilla {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 4px;
    margin-top: -1px;
    width: 91px;
    margin-left: 0px;
  }

  #tel_barranquilla {
    margin-left: 93px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #cartagena {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 6px;
    margin-top: 2px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_cartagena {
    margin-left: 78px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #resto_del_pais {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 44px;
    margin-top: -47px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_resto_del_pais {
    margin-left: 102px;
    width: 99px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #icon_tel {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 769px) {
  #contenedor_general {
    width: 500px;
    margin-left: 31px;
  }

  #contenedor_header {
    border-top: 4px solid #ffffff;
    border-bottom: 2px solid #e2e7ed;
    padding-bottom: 5px;
    background-color: white;
    width: 698px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
  }

  #body {
    display: inline-table;
  }

  #logo_top {
    align-content: left;
    margin-top: 23px;
    margin-left: 0px;
  }

  .infotop {
    display: none;
  }

  h4 {
    font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.24px;
    color: #505050;
    margin-top: 30px;
    opacity: 1;
    width: 410px;
    padding-left: 0%;
    margin-left: 132px;
  }

  h3 {
    font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 23px;
    text-align: left;
    letter-spacing: -0.24px;
    color: #0033a0;
    margin-top: 10px;
    opacity: 1;
    width: 450px;
    margin-left: 92px;
    text-align: center;
  }

  #top_button {
    position: sticky;
    top: 75px;
    background: white;
    z-index: 1;
    border: 1px solid white;
    margin-left: 97px;
  }

  .icon {
    color: #e84629;
    margin-left: 122px;
    margin-top: 47px;
  }

  #nota {
    margin-left: 150px;
    padding-left: 0;
    width: 401px;
    margin-left: 114px;
    margin-top: 9px;
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 273px;
    margin-top: 94px;
  }

  #contenedor_botones2 {
    width: 376px;
    margin-left: 57px;
    margin-top: 20px;
    /* border: 1px solid red; */
  }

  .button2 {
    cursor: pointer;
    border: none;
    /* margin-top: 50px; */
    width: 374px;
    height: 48px;
    border-radius: 4px;
    background-color: #0b28a5;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: white;
    display: flex;
  }

  h1 {
    font-size: 23px;
    margin-left: 28px;
    color: white;
  }

  #icon_calendar {
    margin-top: 7px;
    margin-left: 12px;
  }

  .columns.is-multiline {
    flex-wrap: wrap;
    display: inline-table;
  }

  #nta {
    display: none;
  }

  #boton1 {
    background-color: transparent;
    padding-bottom: 22px;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 4px;
    overflow: hidden;
    width: 373px;
  }

  .section {
    margin-top: -10px;
    width: 399px;
    margin-left: 0px;
  }

  #boton1:after {
    display: none;
  }

  #contenido {
    width: 269px;
    margin-top: 7px;
    margin-left: 33px;
  }

  #contenedor_botones {
    margin-left: 147px;
    width: 194px;
  }

  #bottom_line {
    display: none;
  }

  #footer {
    display: none;
  }

  #footer_movil {
    width: 694px;
    height: 144px;
    background-color: #fafbfc;
    border-bottom: 4px solid #e3e829;
    padding-top: 25px;
    padding-left: 0px;
    margin-top: 101px;
    margin-left: 2px;
  }

  #titulo_footer {
    height: 20px;
    width: 150px;
    font-weight: bold;
    margin-top: -19px;
    margin-left: 0px;
    font-size: 16px;
    color: #0b28a5;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  #ciudades_footer {
    /* border: 1px solid red; */
    display: inline-table;
    margin-left: -149px;
    width: 516px;
    margin-top: 15px;
  }

  #columns2 {
    width: 364px;
    margin-left: 16px;
    /* border: 1px solid red; */
    margin-top: 25px;
    display: -webkit-inline-box;
  }

  .column2 {
    width: 120px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 1px;
    margin-top: 4px;
  }

  .column3 {
    width: 170px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 128px;
    margin-top: -36px;
  }

  .column4 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 313px;
    margin-top: -40px;
  }

  .column5 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 510px;
    margin-top: -40px;
  }

  .column6 {
    margin-left: 2px;
    margin-top: -45px;
  }

  #bogota {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 1px;
    margin-top: 5px;
    width: 48px;
  }

  #tel_bogota {
    /* border: 1px solid red; */
    margin-left: 56px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
  }

  #med_cal {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    margin-top: 1px;
    width: 108px;
    margin-left: 1px;
    /* border: 1px solid red; */
  }

  #tel_med_cal {
    margin-left: 108px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #barranquilla {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 4px;
    margin-top: -1px;
    width: 91px;
    margin-left: 0px;
  }

  #tel_barranquilla {
    margin-left: 93px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #cartagena {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 6px;
    margin-top: 2px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_cartagena {
    margin-left: 78px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #resto_del_pais {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 44px;
    margin-top: -47px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_resto_del_pais {
    margin-left: 102px;
    width: 99px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #icon_tel {
    display: none;
  }
}

@media (min-width: 770px) and (max-width: 992px) {
  #contenedor_general {
    width: 900px;
    margin-left: 31px;
  }

  #contenedor_header {
    border-top: 4px solid #ffffff;
    border-bottom: 2px solid #e2e7ed;
    padding-bottom: 5px;
    background-color: white;
    width: 698px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    margin-left: 116px;
  }

  #body {
    display: inline-table;
  }

  #logo_top {
    align-content: left;
    margin-top: 23px;
    margin-left: 0px;
  }

  .infotop {
    display: none;
  }

  h4 {
    font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 18px;
    text-align: center;
    letter-spacing: -0.24px;
    color: #505050;
    margin-top: 30px;
    opacity: 1;
    width: 410px;
    padding-left: 0%;
    margin-left: 253px;
  }

  h3 {
    font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 23px;
    text-align: left;
    letter-spacing: -0.24px;
    color: #0033a0;
    margin-top: 10px;
    opacity: 1;
    width: 450px;
    margin-left: 206px;
    text-align: center;
  }

  #top_button {
    position: sticky;
    top: 75px;
    background: white;
    z-index: 1;
    border: 1px solid white;
    margin-left: 97px;
  }

  .icon {
    color: #e84629;
    margin-left: 122px;
    margin-top: 47px;
  }

  #nota {
    margin-left: 150px;
    padding-left: 0;
    width: 401px;
    margin-left: 230px;
    margin-top: 9px;
  }

  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-left: 396px;
    margin-top: 94px;
  }

  #contenedor_botones2 {
    width: 376px;
    margin-left: 171px;
    margin-top: 20px;
    /* border: 1px solid red; */
  }

  .button2 {
    cursor: pointer;
    border: none;
    /* margin-top: 50px; */
    width: 374px;
    height: 48px;
    border-radius: 4px;
    background-color: #0b28a5;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: white;
    display: flex;
  }

  h1 {
    font-size: 23px;
    margin-left: 28px;
    color: white;
  }

  #icon_calendar {
    margin-top: 7px;
    margin-left: 12px;
  }

  .columns.is-multiline {
    flex-wrap: wrap;
    display: inline-table;
  }

  #nta {
    display: none;
  }

  #boton1 {
    background-color: transparent;
    padding-bottom: 22px;
    box-shadow: 0px 0px 6px #00000029;
    border-radius: 4px;
    overflow: hidden;
    width: 373px;
  }

  .section {
    margin-top: -10px;
    width: 399px;
    margin-left: 0px;
  }

  #boton1:after {
    display: none;
  }

  #contenido {
    width: 269px;
    margin-top: 7px;
    margin-left: 33px;
  }

  #contenedor_botones {
    margin-left: 264px;
    width: 194px;
  }

  #bottom_line {
    display: none;
  }

  #footer {
    display: none;
  }

  #footer_movil {
    width: 694px;
    height: 144px;
    background-color: #fafbfc;
    border-bottom: 4px solid #e3e829;
    padding-top: 25px;
    padding-left: 0px;
    margin-top: 101px;
    margin-left: 116px;
  }

  #titulo_footer {
    height: 20px;
    width: 150px;
    font-weight: bold;
    margin-top: -19px;
    margin-left: 0px;
    font-size: 16px;
    color: #0b28a5;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  #ciudades_footer {
    /* border: 1px solid red; */
    display: inline-table;
    margin-left: -149px;
    width: 516px;
    margin-top: 15px;
  }

  #columns2 {
    width: 364px;
    margin-left: 16px;
    /* border: 1px solid red; */
    margin-top: 25px;
    display: -webkit-inline-box;
  }

  .column2 {
    width: 120px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 1px;
    margin-top: 4px;
  }

  .column3 {
    width: 170px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 128px;
    margin-top: -36px;
  }

  .column4 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 313px;
    margin-top: -40px;
  }

  .column5 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 510px;
    margin-top: -40px;
  }

  .column6 {
    margin-left: 2px;
    margin-top: -45px;
  }

  #bogota {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 1px;
    margin-top: 5px;
    width: 48px;
  }

  #tel_bogota {
    /* border: 1px solid red; */
    margin-left: 56px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
  }

  #med_cal {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    margin-top: 1px;
    width: 108px;
    margin-left: 1px;
    /* border: 1px solid red; */
  }

  #tel_med_cal {
    margin-left: 108px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #barranquilla {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 4px;
    margin-top: -1px;
    width: 91px;
    margin-left: 0px;
  }

  #tel_barranquilla {
    margin-left: 93px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #cartagena {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 6px;
    margin-top: 2px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_cartagena {
    margin-left: 78px;
    width: 61px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #resto_del_pais {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 44px;
    margin-top: -47px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_resto_del_pais {
    margin-left: 102px;
    width: 99px;
    font-size: 12px;
    margin-top: -21px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  #icon_tel {
    display: none;
  }
}
