#contenedor_general {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1330px;
}

#contenedor_header {
  border-top: 4px solid #e3e829;
  margin-top: 0px;
  border-bottom: 2px solid #e2e7ed;
}

h1 {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 32px;
  color: #00acc7;
  margin-top: -29px;
  padding-left: 35%;
  padding-top: 19px;
  margin-bottom: 11px;
}

h4 {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 23px;
  text-align: left;
  letter-spacing: -0.24px;
  color: #0033a0;
  margin-top: 39px;
  opacity: 1;
  margin-bottom: 26px;
}

h3 {
  /* border: 1px solid red; */
  font-family: "FS Joey", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  color: #0b28a5;
  font-size: 24px;
  padding-bottom: 0px;
  width: 103px;
  margin-left: 731px;
  margin-top: -414px;
}

p {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  color: #000000;
  /* margin-top: 22px; */
  line-height: 14px;
  /* max-width: 492px; */
  margin-left: 0px;
}

#logo_top {
  margin-left: 135px;
  margin-right: 135px;
  align-content: center;
  margin-bottom: 9px;
  margin-top: 15px;
}

#left_side {
  margin-left: 142px;
}

#Tabla_derecha {
  display: inline-table;
  border: 1px solid #4076b8;
  width: 490px;
  margin-top: 0px;
}

#titulo1_derecha {
  font-weight: lighter;
  font-family: "Cabin", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  align-content: center;
  font-size: 16px;
  color: #627762;
  border: 1px solid #e2e7ed;
  padding: 15px;
}

#respuestas_derecha {
  font-family: "Cabin", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  align-content: center;
  font-size: 16px;
  color: #292730;
  border: 1px solid #e2e7ed;
  padding: 15px;
}

#nota {
  /* border: 1px solid red; */
  color: #737373;
  width: 433px;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 0px;
  line-height: normal;
}

#nota2 {
  /* border: 1px solid red; */
  text-decoration: underline;
  font-weight: 800;
  color: #224b77;
  width: 475px;
  font-size: 13px;
  margin-top: 8px;
  margin-left: 0px;
  line-height: normal;
}

#check {
  margin-top: 10px;
  margin-left: 9px;
}

#field1 {
  /* border: 1px solid red; */
  margin-top: 10px;
  width: 530px;
}

#field2 {
  /* border: 1px solid red; */
  margin-top: 10px;
  width: 253px;
  display: flex;
}

#field3 {
  /* border: 1px solid red; */
  width: 253px;
  display: inline-table;
  margin-top: 10px;
  margin-left: 11px;
}

#field4 {
  /* border: 1px solid red; */
  width: 253px;
  display: inline-table;
  margin-top: 10px;
  margin-left: 0px;
}

#field5 {
  /* border: 1px solid red; */
  width: 253px;
  display: inline-table;
  margin-top: 10px;
  margin-left: 10px;
}

#tabla {
  /* border: 1px solid red; */
  width: 384px;
}

#right_side {
  margin-left: 728px;
  height: 417px;
  width: 550px;
}

#campo1 {
  margin-left: 0px;
  height: 32px;
  width: 425px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  margin-top: 10px;
  background-color: #ffffff;
  border: 1ps solid red;
}

#campo2 {
  height: 40px;
  width: 248px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  margin-top: 32px;
  background-color: #ffffff;
  margin-left: -132px;
}

#campo3 {
  height: 40px;
  width: 248px;
  border-radius: 4px;
  border: 1px solid #dddfe2;
  margin-top: 10px;
  background-color: #ffffff;
}

.button {
  border: 1px solid #0b28a5;
  /* margin-top: 50px; */
  width: 192px;
  height: 48px;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: #0b28a5;
  margin-right: 10px;
}

.button:hover {
  border: 1px solid #0b28a5;
  color: #0b28a5;
}

.button2 {
  border: none;
  cursor: pointer;
  /* margin-top: 50px; */
  width: 192px;
  height: 48px;
  border-radius: 4px;
  background-color: #e3e829;
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  color: #0b28a5;
  margin-right: 10px;
}

.button2:hover {
  border: 1px solid #e3e829;
  background-color: #e3e829;
}

#linea {
  border: 1px solid #e8e8e8;
  width: 0px;
  height: 661px;
  margin-top: 25px;
  padding: 0px;
  align-content: center;
}

#items_top {
  margin-right: 20px;
}

#lines {
  padding-left: 10px;
  padding-right: 10px;
}

#titulos_top {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}

#respuesta_top {
  font-family: "Cabin regular", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: black;
  text-align: center;
  padding-top: 1px;
}

#respuesta_resultados {
  font-family: "Cabin regular", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color: black;
  margin-left: 55px;
  margin-top: -22px;
}

#linea {
  border: 1px solid #e8e8e8;
  width: 0px;
  height: 404px;
  margin-top: -504px;
  padding: 0px;
  align-content: center;
  display: flex;
  margin-left: 681px;
}

#contenedor_botones {
  width: 431px;
  margin-left: 141px;
  margin-top: 26px;
  /* border: 1px solid red; */
}

#bottom_line {
  /* border: 1px solid red; */
  width: 1330px;
  margin: auto;
  margin-top: 109px;
  border-bottom: 1px solid #f1f1f1;
}

#parrafo_fecha {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: 800;
  color: #0b28a5;
  margin-left: 30px;
  margin-top: -25px;
}

#ciudades {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  font-weight: lighter;
  color: #67647c;
}

#tel_ciudades {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #000000de;
  width: 113px;
  margin-top: 10px;
}

#titulo_footer {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #0b28a5;
  margin-left: 25px;
  margin-top: -23px;
}

#footer {
  background-color: #fafbfc;
  height: 106px;
  border-bottom: 4px solid #e3e829;
  padding-top: 25px;
  padding-left: 0px;
}

#ciudades_footer {
  /* border: 1px solid red; */
  display: inline-flex;
  margin-left: 60px;
}

/* a partir de acá se empieza el css de las columnas con bulma */

.column {
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 4px;
  margin-right: 10px;
  /* border: 1px solid red; */
  width: 183px;
  height: 88px;
  padding-top: 22px;
  margin-top: 10px;
}

#columns2 {
  display: inline-flex;
  margin-left: 112px;
  margin-top: -17px;
}
.column2 {
  width: 114px;
  margin-left: 0px;
  /* border: 1px solid red; */
}
.infotop {
  text-align: center;
  /* border: 1px solid red; */
  width: 1064px;
  margin-left: 100px;
  margin-top: 39px;
  padding-left: 20%;
}

#icon_tel {
  color: #0b28a5;
}

.arrow {
  margin-left: 16px;
  margin-bottom: 1.5px;
  border: solid #0b28a5;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.modal-content {
  max-height: calc(100vh - 40px);
  width: 100%;
  height: 600px;
}

.modal-card-head {
  background-color: white;
}

.modal-close {
  background: none;
  height: 40px;
  position: fixed;
  right: 374px;
  top: 74px;
  width: 40px;
}

.modal-card-body {
  background-color: #fafbfc;
}

#parrafos {
  line-height: 33px;
  color: #9da5be;
}

.modal-card-title {
  font-weight: 800;
  font-size: 19px;
}

/* media-queries */

/* Tablet hasta desktop+*/

@media (min-width: 1440px) {
  #footer_movil {
    display: none;
  }
  .arrow {
    display: none;
  }
}

@media (max-width: 575px) {
  #contenedor_general {
    width: 400px;
    margin-left: 11px;
    /* height: 1542px; */
    display: flex;
    flex-direction: column;
  }

  #contenedor_header {
    border-top: 4px solid #ffffff;
    border-bottom: 2px solid #e2e7ed;
    padding-bottom: 5px;
    background-color: white;
    width: 544px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
  }

  #logo_top {
    align-content: left;
    margin-top: 23px;
    margin-left: 0px;
  }

  #left_side {
    width: 380px;
    margin-left: 0px;
    order: 2;
  }

  h4 {
    font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 18px;
    text-align: left;
    letter-spacing: -0.24px;
    color: #505050;
    margin-top: 18px;
    opacity: 1;
    width: 300px;
    padding-left: 0%;
    margin-left: 11px;
  }

  h3 {
    /* border: 1px solid red; */
    font-family: "FS Joey", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-decoration-line: underline;
    color: #0b28a5;
    font-size: 24px;
    padding-bottom: 0px;
    width: 132px;
    margin-left: 11px;
    margin-top: 15px;
  }

  #linea {
    display: none;
  }

  #field1 {
    /* border: 1px solid red; */
    margin-top: 29px;
    width: 382px;
    margin-left: 8px;
  }

  #campo1 {
    margin-left: 0px;
    height: 50px;
    width: 522px;
    border-radius: 4px;
    border: 1px solid #dddfe2;
    margin-top: 10px;
    background-color: #ffffff;
  }

  #nota {
    color: #737373;
    width: 522px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 11px;
    line-height: normal;
    order: 4;
  }

  #nota2 {
    width: 378px;
    order: 5;
    margin-left: 11px;
  }

  #right_side {
    /* border: 1px solid red; */
    margin-left: 6px;
    margin-top: 0px;
    order: 1;
    width: 534px;
    height: 348px;
  }

  #contenedor_botones {
    width: 522px;
    margin-left: 14px;
    /* border: 1px solid red; */
    height: 150px;
    margin-top: 46px;
    order: 5;
  }

  .button {
    /* border: 1px solid #0b28a5; */
    /* margin-top: 50px; */
    width: 497px;
    height: 48px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: #0b28a5;
    margin-right: 10px;
    margin-top: 65px;
    margin-left: 9px;
  }

  .button2 {
    border: none;
    cursor: pointer;
    /* margin-top: 50px; */
    width: 498px;
    height: 48px;
    border-radius: 4px;
    background-color: #e3e829;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: #0b28a5;
    margin-right: 10px;
    margin-left: -512px;
  }

  #titulo1_derecha {
    font-weight: lighter;
    font-family: "Cabin", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
      Arial, sans-serif;
    align-content: center;
    font-size: 13px;
    color: #627762;
    border: 1px solid #e2e7ed;
    padding: 15px;
  }

  #respuestas_derecha {
    font-family: "Cabin", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
      Arial, sans-serif;
    align-content: center;
    font-size: 13px;
    color: #292730;
    border: 1px solid #e2e7ed;
    padding: 15px;
  }

  #Tabla_derecha {
    display: inline-table;
    border: 1px solid #4076b8;
    width: 532px;
    margin-top: 0px;
  }

  #bottom_line {
    display: none;
    margin-top: 61px;
    order: 6;
  }

  #footer {
    display: none;
  }

  #footer_movil {
    width: 547px;
    height: 143px;
    background-color: #fafbfc;
    border-bottom: 4px solid #e3e829;
    padding-top: 25px;
    padding-left: 0px;
    margin-top: 41px;
    order: 7;
  }

  #icon_tel {
    display: none;
  }

  #titulo_footer {
    height: 20px;
    width: 150px;
    margin-top: -19px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 900;
    color: #0b28a5;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  #ciudades_footer {
    /* border: 1px solid red; */
    display: inline-table;
    margin-left: -151px;
    margin-top: 15px;
  }

  #columns2 {
    width: 364px;
    margin-left: 16px;
    /* border: 1px solid red; */
    margin-top: 11px;
  }

  .column2 {
    width: 120px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 1px;
    margin-top: 4px;
  }

  #bogota {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 1px;
    margin-top: 5px;
    width: 48px;
  }

  #tel_bogota {
    /* border: 1px solid red; */
    margin-left: 56px;
    width: 61px;
    font-size: 12px;
    margin-top: -13px;
    color: #0b28a5;
    /* display: inline-flex; */
  }
  .column3 {
    width: 170px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 148px;
    margin-top: -36px;
  }

  #med_cal {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    margin-top: 1px;
    width: 108px;
    margin-left: 1px;
    /* border: 1px solid red; */
  }

  #tel_med_cal {
    margin-left: 108px;
    width: 61px;
    font-size: 12px;
    margin-top: -13px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  .column4 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 342px;
    margin-top: -40px;
  }
  #barranquilla {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 4px;
    margin-top: -14px;
    width: 91px;
    margin-left: 0px;
  }

  #tel_barranquilla {
    margin-left: 90px;
    width: 61px;
    font-size: 12px;
    margin-top: -13px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }
  .column5 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 2px;
    margin-top: -12px;
  }
  #cartagena {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 6px;
    margin-top: 2px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_cartagena {
    margin-left: 78px;
    width: 61px;
    font-size: 12px;
    margin-top: -13px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  .column6 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 155px;
    margin-top: -75px;
  }

  #resto_del_pais {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 44px;
    margin-top: -47px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_resto_del_pais {
    margin-left: 102px;
    width: 99px;
    font-size: 12px;
    margin-top: -13px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }
}

@media (min-width: 576px) and (max-width: 769px) {
  #contenedor_general {
    width: 760px;
    margin-left: 11px;
    /* height: 1542px; */
    display: flex;
    flex-direction: column;
  }

  #contenedor_header {
    border-top: 4px solid #ffffff;
    border-bottom: 2px solid #e2e7ed;
    padding-bottom: 5px;
    background-color: white;
    width: 547px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    margin-left: 102px;
  }

  #logo_top {
    align-content: left;
    margin-top: 23px;
    margin-left: 0px;
  }

  #left_side {
    width: 380px;
    margin-left: 0px;
    order: 2;
  }

  h4 {
    font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 18px;
    text-align: left;
    letter-spacing: -0.24px;
    color: #505050;
    margin-top: 18px;
    opacity: 1;
    width: 360px;
    padding-left: 0%;
    margin-left: 106px;
  }

  h3 {
    /* border: 1px solid red; */
    font-family: "FS Joey", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-decoration-line: underline;
    color: #0b28a5;
    font-size: 24px;
    padding-bottom: 0px;
    width: 132px;
    margin-left: 105px;
    margin-top: 15px;
  }

  #linea {
    display: none;
  }

  #field1 {
    /* border: 1px solid red; */
    margin-top: 29px;
    width: 382px;
    margin-left: 110px;
  }

  #campo1 {
    margin-left: 0px;
    height: 50px;
    width: 522px;
    border-radius: 4px;
    border: 1px solid #dddfe2;
    margin-top: 10px;
    background-color: #ffffff;
  }

  #nota {
    color: #737373;
    width: 522px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 111px;
    line-height: normal;
    order: 4;
  }

  #nota2 {
    width: 378px;
    order: 5;
    margin-left: 111px;
  }

  #right_side {
    /* border: 1px solid red; */
    margin-left: 106px;
    margin-top: 0px;
    order: 1;
    width: 534px;
    height: 348px;
  }

  #contenedor_botones {
    width: 522px;
    margin-left: 114px;
    /* border: 1px solid red; */
    height: 150px;
    margin-top: 46px;
    order: 5;
  }

  .button {
    /* border: 1px solid #0b28a5; */
    /* margin-top: 50px; */
    width: 497px;
    height: 48px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: #0b28a5;
    margin-right: 10px;
    margin-top: 65px;
    margin-left: 9px;
  }

  .button2 {
    border: none;
    cursor: pointer;
    /* margin-top: 50px; */
    width: 498px;
    height: 48px;
    border-radius: 4px;
    background-color: #e3e829;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: #0b28a5;
    margin-right: 10px;
    margin-left: -512px;
  }

  #titulo1_derecha {
    font-weight: lighter;
    font-family: "Cabin", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
      Arial, sans-serif;
    align-content: center;
    font-size: 13px;
    color: #627762;
    border: 1px solid #e2e7ed;
    padding: 15px;
  }

  #respuestas_derecha {
    font-family: "Cabin", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
      Arial, sans-serif;
    align-content: center;
    font-size: 13px;
    color: #292730;
    border: 1px solid #e2e7ed;
    padding: 15px;
  }

  #Tabla_derecha {
    display: inline-table;
    border: 1px solid #4076b8;
    width: 532px;
    margin-top: 0px;
  }

  #bottom_line {
    display: none;
    margin-top: 61px;
    order: 6;
  }

  #footer {
    display: none;
  }

  #footer_movil {
    width: 547px;
    height: 143px;
    background-color: #fafbfc;
    border-bottom: 4px solid #e3e829;
    padding-top: 25px;
    padding-left: 0px;
    margin-top: 41px;
    order: 7;
    margin-left: 102px;
  }

  #icon_tel {
    display: none;
  }

  #titulo_footer {
    height: 20px;
    width: 150px;
    margin-top: -19px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 900;
    color: #0b28a5;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  #ciudades_footer {
    /* border: 1px solid red; */
    display: inline-table;
    margin-left: -151px;
    margin-top: 15px;
  }

  #columns2 {
    width: 364px;
    margin-left: 16px;
    /* border: 1px solid red; */
    margin-top: 11px;
  }

  .column2 {
    width: 120px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 1px;
    margin-top: 4px;
  }

  #bogota {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 1px;
    margin-top: 5px;
    width: 48px;
  }

  #tel_bogota {
    /* border: 1px solid red; */
    margin-left: 56px;
    width: 61px;
    font-size: 12px;
    margin-top: -13px;
    color: #0b28a5;
    /* display: inline-flex; */
  }
  .column3 {
    width: 170px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 148px;
    margin-top: -36px;
  }

  #med_cal {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    margin-top: 1px;
    width: 108px;
    margin-left: 1px;
    /* border: 1px solid red; */
  }

  #tel_med_cal {
    margin-left: 108px;
    width: 61px;
    font-size: 12px;
    margin-top: -13px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  .column4 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 342px;
    margin-top: -40px;
  }
  #barranquilla {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 4px;
    margin-top: -14px;
    width: 91px;
    margin-left: 0px;
  }

  #tel_barranquilla {
    margin-left: 90px;
    width: 61px;
    font-size: 12px;
    margin-top: -13px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }
  .column5 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 2px;
    margin-top: -12px;
  }
  #cartagena {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 6px;
    margin-top: 2px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_cartagena {
    margin-left: 78px;
    width: 61px;
    font-size: 12px;
    margin-top: -13px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  .column6 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 155px;
    margin-top: -75px;
  }

  #resto_del_pais {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 44px;
    margin-top: -47px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_resto_del_pais {
    margin-left: 102px;
    width: 99px;
    font-size: 12px;
    margin-top: -13px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }
}

@media (min-width: 770px) and (max-width: 992px) {
  #contenedor_general {
    width: 760px;
    margin-left: 11px;
    /* height: 1542px; */
    display: flex;
    flex-direction: column;
  }

  #contenedor_header {
    border-top: 4px solid #ffffff;
    border-bottom: 2px solid #e2e7ed;
    padding-bottom: 5px;
    background-color: white;
    width: 776px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    margin-left: 102px;
  }

  #logo_top {
    align-content: left;
    margin-top: 23px;
    margin-left: 0px;
  }

  #left_side {
    width: 380px;
    margin-left: 103px;
    order: 2;
  }

  h4 {
    font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 18px;
    text-align: left;
    letter-spacing: -0.24px;
    color: #505050;
    margin-top: 18px;
    opacity: 1;
    width: 360px;
    padding-left: 0%;
    margin-left: 106px;
  }

  h3 {
    /* border: 1px solid red; */
    font-family: "FS Joey", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-decoration-line: underline;
    color: #0b28a5;
    font-size: 24px;
    padding-bottom: 0px;
    width: 132px;
    margin-left: 211px;
    margin-top: 15px;
  }

  #linea {
    display: none;
  }

  #field1 {
    /* border: 1px solid red; */
    margin-top: 29px;
    width: 382px;
    margin-left: 110px;
  }

  #campo1 {
    margin-left: 0px;
    height: 50px;
    width: 522px;
    border-radius: 4px;
    border: 1px solid #dddfe2;
    margin-top: 10px;
    background-color: #ffffff;
  }

  #nota {
    color: #737373;
    width: 522px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 111px;
    line-height: normal;
    order: 4;
  }

  #nota2 {
    width: 378px;
    order: 5;
    margin-left: 111px;
  }

  #right_side {
    /* border: 1px solid red; */
    margin-left: 210px;
    margin-top: 0px;
    order: 1;
    width: 534px;
    height: 348px;
  }

  #contenedor_botones {
    width: 522px;
    margin-left: 214px;
    /* border: 1px solid red; */
    height: 150px;
    margin-top: 46px;
    order: 5;
  }

  .button {
    /* border: 1px solid #0b28a5; */
    /* margin-top: 50px; */
    width: 497px;
    height: 48px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: #0b28a5;
    margin-right: 10px;
    margin-top: 65px;
    margin-left: 9px;
  }

  .button2 {
    border: none;
    cursor: pointer;
    /* margin-top: 50px; */
    width: 498px;
    height: 48px;
    border-radius: 4px;
    background-color: #e3e829;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: #0b28a5;
    margin-right: 10px;
    margin-left: -512px;
  }

  #titulo1_derecha {
    font-weight: lighter;
    font-family: "Cabin", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
      Arial, sans-serif;
    align-content: center;
    font-size: 13px;
    color: #627762;
    border: 1px solid #e2e7ed;
    padding: 15px;
  }

  #respuestas_derecha {
    font-family: "Cabin", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
      Arial, sans-serif;
    align-content: center;
    font-size: 13px;
    color: #292730;
    border: 1px solid #e2e7ed;
    padding: 15px;
  }

  #Tabla_derecha {
    display: inline-table;
    border: 1px solid #4076b8;
    width: 532px;
    margin-top: 0px;
  }

  #bottom_line {
    display: none;
    margin-top: 61px;
    order: 6;
  }

  #footer {
    display: none;
  }

  #footer_movil {
    width: 776px;
    height: 143px;
    background-color: #fafbfc;
    border-bottom: 4px solid #e3e829;
    padding-top: 25px;
    padding-left: 0px;
    margin-top: 41px;
    order: 7;
    margin-left: 102px;
  }

  #icon_tel {
    display: none;
  }

  #titulo_footer {
    height: 20px;
    width: 150px;
    margin-top: -19px;
    margin-left: 0px;
    font-size: 16px;
    font-weight: 900;
    color: #0b28a5;
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  #ciudades_footer {
    /* border: 1px solid red; */
    display: inline-table;
    margin-left: -151px;
    margin-top: 15px;
  }

  #columns2 {
    width: 364px;
    margin-left: 16px;
    /* border: 1px solid red; */
    margin-top: 11px;
  }

  .column2 {
    width: 120px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 1px;
    margin-top: 4px;
  }

  #bogota {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 1px;
    margin-top: 5px;
    width: 48px;
  }

  #tel_bogota {
    /* border: 1px solid red; */
    margin-left: 56px;
    width: 61px;
    font-size: 12px;
    margin-top: -13px;
    color: #0b28a5;
    /* display: inline-flex; */
  }
  .column3 {
    width: 170px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 172px;
    margin-top: -36px;
  }

  #med_cal {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    margin-top: 1px;
    width: 108px;
    margin-left: 1px;
    /* border: 1px solid red; */
  }

  #tel_med_cal {
    margin-left: 108px;
    width: 61px;
    font-size: 12px;
    margin-top: -13px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  .column4 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 412px;
    margin-top: -40px;
  }
  #barranquilla {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 4px;
    margin-top: -14px;
    width: 91px;
    margin-left: 0px;
  }

  #tel_barranquilla {
    margin-left: 90px;
    width: 61px;
    font-size: 12px;
    margin-top: -13px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }
  .column5 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 605px;
    margin-top: -40px;
  }
  #cartagena {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 6px;
    margin-top: 2px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_cartagena {
    margin-left: 78px;
    width: 61px;
    font-size: 12px;
    margin-top: -13px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }

  .column6 {
    width: 160px;
    height: 36px;
    /* border: 1px solid red; */
    margin-left: 1px;
    margin-top: 2px;
  }

  #resto_del_pais {
    /* border: 1px solid red; */
    font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
    display: block;
    color: gray;
    padding-top: 44px;
    margin-top: -47px;
    width: 100px;
    margin-left: 0px;
  }

  #tel_resto_del_pais {
    margin-left: 102px;
    width: 99px;
    font-size: 12px;
    margin-top: -13px;
    color: #0b28a5;
    /* display: inline-flex; */
    font-weight: bold;
  }
}
