#ciudades_footer {
  /* border: 1px solid red; */
  margin-left: 30%;
  margin-top: -3px;
}

#tel_ciudades {
  font-family: "FS Joey", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #000000de;
}

#footer {
  background-color: #fafbfc;
  height: 74px;
  border-bottom: 4px solid #e3e829;
  padding-top: 21px;
  padding-left: 0px;
  padding-bottom: 15px;
}

#titulo_footer {
  height: 20px;
  width: 150px;
  font-weight: bold;
  margin-top: -3px;
  margin-left: 30%;
  font-size: 16px;
  color: #0b28a5;
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.column2 {
  height: 40px;
  margin-top: -9px;
}

.column3 {
  height: 36px;
  margin-left: 10%;
  margin-top: -36px;
}

.column4 {
  height: 36px;
  margin-left: 23%;
  margin-top: -40px;
}

.column5 {
  height: 36px;
  margin-left: 35%;
  margin-top: -40px;
}

.column6 {
  height: 49px;
  margin-left: 47%;
  margin-top: -17px;
}

#bogota {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  display: block;
  color: gray;
  padding-top: 5px;
  margin-top: 5px;
}

#tel_bogota {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  margin-left: 0px;
  font-size: 16px;
  margin-top: -12px;
  color: #393939;
}

#med_cal {
  /* border: 1px solid red; */
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  display: block;
  color: gray;
  margin-top: 1px;
  margin-left: 1px;
}

#tel_med_cal {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  margin-left: 0px;
  font-size: 16px;
  margin-top: -12px;
  color: #393939;
  font-weight: bold;
}

#barranquilla {
  /* border: 1px solid red; */
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  display: block;
  color: gray;
  padding-top: 4px;
  margin-top: -1px;
  margin-left: 0px;
}

#tel_barranquilla {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  margin-left: 0px;
  font-size: 16px;
  margin-top: -12px;
  color: #393939;
}

#cartagena {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  display: block;
  color: gray;
  padding-top: 6px;
  margin-top: 2px;
  margin-left: 0px;
}

#tel_cartagena {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  margin-left: 0px;
  font-size: 16px;
  margin-top: -12px;
  color: #393939;
}

#resto_del_pais {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  display: block;
  color: gray;
  padding-top: 18px;
  margin-top: -47px;
  margin-left: 0px;
}

#tel_resto_del_pais {
  font-family: "Cabin", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  margin-left: 0px;
  font-size: 16px;
  margin-top: -12px;
  color: #393939;
}

#icon_tel {
  color: #0b28a5;
}

/* media-queries */

@media (max-width: 575px) {
  #contenedor_header {
    border-top: 4px solid #ffffff;
    border-bottom: 2px solid #e2e7ed;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }

  #contenedor_general {
    width: 100%;
  }

  #footer {
    width: 100%;
    height: 117px;
    padding-top: 25px;
    margin-top: 0px;
  }
  #ciudades_footer {
    margin-left: 12%;
  }

  .column2 {
    margin-left: 1px;
    margin-top: 4px;
  }

  .column3 {
    /* border: 1px solid red; */
    margin-left: 39%;
    margin-top: -40px;
  }

  .column4 {
    margin-top: -14px;
    margin-left: 45%;
  }

  .column5 {
    margin-left: 0.2%;
    margin-top: -41px;
  }

  .column6 {
    margin-left: 0%;
    margin-top: 2px;
  }

  #bogota {
    padding-top: 1px;
  }

  #tel_bogota {
    margin-left: 15%;
    font-size: 14px;
    margin-top: -32px;
  }

  #tel_med_cal {
    margin-left: 39%;
    /* width: 61px; */
    font-size: 14px;
    margin-top: -32px;
  }

  #barranquilla {
    margin-top: 1px;
  }

  #tel_barranquilla {
    margin-left: 38%;
    font-size: 14px;
    margin-top: -31px;
    font-weight: bold;
  }

  #tel_cartagena {
    margin-left: 18%;
    font-size: 14px;
    margin-top: -31px;
    font-weight: bold;
  }

  #resto_del_pais {
    padding-top: 44px;
  }

  #tel_resto_del_pais {
    margin-left: 23%;
    font-size: 14px;
    margin-top: -31px;
    font-weight: bold;
  }

  #tel_ciudades {
    margin-left: 112px;
    /* width: 94px; */
    font-size: 12px;
    margin-top: -42px;
    color: gray;
    /* display: inline-flex; */
  }

  #titulo_footer {
    margin-left: 12%;
  }
}

@media (min-width: 576px) and (max-width: 769px) {
  #footer {
    height: 99px;
    padding-top: 25px;
    margin-top: 0px;
  }

  #ciudades_footer {
    display: inline-table;
    margin-left: 11%;
    height: 60px;
  }

  .column2 {
    height: 36px;
    margin-left: 1px;
    margin-top: 4px;
  }

  .column3 {
    margin-left: 99%;
    width: 100%;
  }

  .column4 {
    width: 100%;
    margin-left: 242%;
  }

  .column5 {
    margin-left: 1%;
    margin-top: 3px;
  }

  .column6 {
    margin-left: 120%;
    margin-top: -74px;
    width: 100%;
  }

  #bogota {
    padding-top: 1px;
    margin-top: 5px;
  }

  #tel_bogota {
    margin-left: 56px;
    font-size: 14px;
    margin-top: -32px;
    width: 50%;
  }

  #med_cal {
    margin-top: 1px;
    width: 69%;
  }

  #tel_med_cal {
    width: 59%;
    font-size: 14px;
    margin-top: -32px;
    margin-left: 78%;
  }

  #barranquilla {
    width: 36%;
  }

  #tel_barranquilla {
    margin-left: 62%;
    font-size: 14px;
    margin-top: -32px;
    width: 50%;
    font-weight: bold;
  }

  #cartagena {
    margin-top: 2px;
  }

  #tel_cartagena {
    margin-left: 78px;
    width: 43%;
    font-size: 14px;
    margin-top: -31px;
    font-weight: bold;
  }

  #resto_del_pais {
    padding-top: 44px;
    margin-top: -47px;
  }

  #tel_resto_del_pais {
    margin-left: 79%;
    width: 100%;
    font-size: 14px;
    margin-top: -31px;
    font-weight: bold;
  }

  #ciudades {
    /* border: 1px solid red; */
    font-size: 14px;
    display: block;
  }

  #tel_ciudades {
    margin-left: 112px;
    width: 94px;
    font-size: 14px;
    margin-top: -42px;
    color: gray;
    /* display: inline-flex; */
  }

  #titulo_footer {
    margin-top: -6px;
    margin-left: 11%;
  }
}

@media (min-width: 770px) and (max-width: 992px) {
  #footer {
    height: 103px;
    padding-top: 25px;
    margin-top: 0px;
  }
  #ciudades_footer {
    margin-top: 10px;
    margin-left: 11%;
  }

  .column2 {
    width: 120px;
    margin-left: 0.1%;
    margin-top: 4px;
  }

  .column3 {
    margin-left: 17%;
  }

  .column4 {
    margin-left: 43%;
  }

  .column5 {
    margin-left: 67%;
    margin-top: -40px;
  }

  .column6 {
    margin-left: 1px;
    margin-top: -17px;
  }

  #bogota {
    padding-top: 1px;
    margin-top: 5px;
  }

  #tel_bogota {
    margin-left: 42%;
    font-size: 14px;
    margin-top: -32px;
    color: #393939;
    font-weight: bold;
  }

  #med_cal {
    margin-top: 1px;
    margin-left: 1px;
  }

  #tel_med_cal {
    margin-left: 18%;
    font-size: 14px;
    margin-top: -32px;
    font-weight: bold;
  }

  #tel_barranquilla {
    margin-left: 22%;
    font-size: 14px;
    margin-top: -32px;
    font-weight: bold;
  }

  #tel_cartagena {
    margin-left: 33%;
    font-size: 14px;
    margin-top: -32px;
    font-weight: bold;
  }

  #resto_del_pais {
    padding-top: 44px;
  }

  #tel_resto_del_pais {
    margin-left: 102px;
    font-size: 14px;
    margin-top: -30px;
    font-weight: bold;
  }

  #tel_ciudades {
    margin-left: 112px;
    width: 94px;
    font-size: 12px;
    margin-top: -42px;
  }

  #titulo_footer {
    margin-top: -2px;
    margin-left: 11.05%;
  }
}
