#contenedor_general {
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid red; */
}

#contenedor_header {
  border-top: 4px solid #e3e829;
  margin-top: -8px;
  border-bottom: 2px solid #e2e7ed;
}

#body {
  display: flex;
}

#logo_top {
  margin-left: 135px;
  margin-right: 135px;
  align-content: center;
  margin-bottom: 9px;
  margin-top: 15px;
}

/* media-queries */

/* Telefonos pequeños a tablet de 320 a 575 pixeles*/

@media (max-width: 575px) {
  #contenedor_header {
    border-top: 4px solid #ffffff;
    border-bottom: 2px solid #e2e7ed;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }

  #logo_top {
    align-content: left;
    margin-top: 23px;
    margin-left: 0px;
  }
}
/* Telefonos pequeños a tablet de 575 a 768 pixeles*/

@media (min-width: 576px) and (max-width: 769px) {
  #contenedor_header {
    border-top: 4px solid #ffffff;
    border-bottom: 2px solid #e2e7ed;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }

  #logo_top {
    align-content: left;
    margin-top: 23px;
    margin-left: 0px;
  }
}

/* Telefonos pequeños a tablet de 575 a 768 pixeles*/

@media (min-width: 770px) and (max-width: 992px) {
  #contenedor_header {
    border-top: 4px solid #ffffff;
    border-bottom: 2px solid #e2e7ed;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
  }

  #body {
    margin-left: 62px;
  }

  #logo_top {
    align-content: left;
    margin-top: 23px;
    margin-left: 0px;
  }
}
